html {
	background: fixed;
	background-image: url('crc pictures/bot_tiled_orange.png');
}

body {
	background-color: white;
	padding: 20px;
	max-width: 1300px;
	margin: 0px auto;
	filter: drop-shadow(10px 15px 10x #000000);
	font-family: Verdana, sans-serif;
}

.top_menu {
	overflow: hidden;
	margin: 0px 0px 10px 10px;
}
.top_menu-right a {
	float: left;
	font-size: 20px;
	font-family: Verdana;
	font-weight: 400;
	text-align: center;
	padding: 14px 16px;
	color: rgb(128, 128, 128);
}
.top_menu-right {
	float: right;
	margin-right: 10%;
}
.top_menu-right a:link {
	color: rgb(128, 128, 128);
	text-decoration: none;
}
.top_menu-right a:hover {
	color: black;
}

.top_menu-right a.active {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

.top_menu img {
	transition: 0.3s;
}

.top_menu img:hover {
	transform: scale(1.05);
}

hr {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}
/*This is for the specific pages*/

.grid-container {
	display: grid;
	grid-template-columns: 1fr 420px;
	justify-content: space-evenly;
	grid-column-gap: 25px;
	font-family: Verdana;
	margin-bottom: 20px;
}

.flex-gallery {
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: black;
}

.flex-gallery div {
	width: 400px;
	flex-grow: 1;
	padding: 10px;
}

.flex-gallery img {
	width: 100%;
	clip-path: polygon(20% 0, 100% 0, 100% 90%, 80% 100%, 0 100%, 0 10%);
}

.title {
	font-size: 40;
	color: rgb(152, 0, 0);
	font-family: Verdana;
}

.sub_title {
	font-size: 30;
	color: rgb(152, 0, 0);
	font-family: Verdana;
}

.div-title {
	width: 100%;
	text-align: center;
	background-color: rgb(152, 0, 0);
	color: white;
	padding: 10px 0px;
}

.paragraph {
	font-size: 18;
	font-family: Verdana;
}

.grid-container-images {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-evenly;
	grid-column-gap: 25px;
	font-family: Verdana;
}

.faq {
	text-align: center;
}


button.collapsible {
	background-color: white;
	border-color: rgb(228, 228, 228);
	color: rgb(0,0,0);
	padding: 15px;
	width: 100%;
	text-align: left;
	font-size: 15px;
	margin-top: 15px;
	border-radius: 4px;

  }
  
  .active, button.collapsible:hover {
	background-color:rgb(228, 228, 228);
	border-style: outset;
  }
  
  div.answer {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: rgb(228, 228, 228);

  }
