@font-face {
  font-family: Apercu;
  src: url(./Apercu\ Regular.otf);
}

/* body {
	background-color: white;
	max-width: 1300px;
	margin: 0px auto;
	filter: drop-shadow(10px 15px 10x #000000);
	font-family: Verdana, sans-serif;
} */
body {
  margin: 10px auto;
  font-family: Apercu;
  font-size: 18px;
}

.content {
  max-width: 1200px;
  margin: 0px auto;
  margin-bottom: 20px;
}

em {
  font-weight: bold;
  font-style: normal;
  color: maroon;
}

.top_menu {
  overflow: hidden;
  margin: 0px 0px 10px 10px;
}
.top_menu-right a {
  float: left;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 400;
  text-align: center;
  padding: 14px 16px;
  color: rgb(128, 128, 128);
}
.top_menu-right {
  float: right;
  margin-right: 10%;
}
.top_menu-right a:link {
  color: rgb(128, 128, 128);
  text-decoration: none;
}
.top_menu-right a:hover {
  color: black;
}

.top_menu-right a.active {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.top_menu img {
  transition: 0.3s;
}

.top_menu img:hover {
  transform: scale(1.05);
}

hr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}
/*This is for the specific pages*/

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-column-gap: 25px;
  font-family: Verdana;
  margin-bottom: 20px;
}

.flex-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.red-gallery {
  background-color: grey;
  color: white;
}

.timeline {
  padding-top: 15px;
  margin-top: -50px;
  border-left: 10px solid maroon;
}

.timeline li {
  padding: 20px 10px;
}

.timeline em {
  font-size: 1.5em;
}

.event-desc {
  margin-bottom: 60px;
}

.flex-gallery div {
  width: 400px;
  flex-grow: 1;
  padding: 10px;
}

.flex-gallery img {
  width: 100%;
}


.gallery {
  background-image: url('crc_pictures/bottiled_white_red.png');
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  justify-content: center;
}

.gallery img {
  max-width: 500px;
  height: auto;
  flex-grow: 0fr;
  flex-shrink: 0fr;
  margin: 25px;
  filter: drop-shadow(5px 5px 10px);
}

#team-list ul {
  list-style: none;
  text-decoration: none;
}

#team-list li {
  font-size: 1.5em;
  padding: 10px;
  margin: 30px;
  margin-left: -40px;
  border: 2px solid grey;
  border-radius: 20px;
}

.team-info {
  margin-top: -25px;
  margin-bottom: 80px;
  padding: 15px;
  border: 3px solid grey;
  border-radius: 10px;
}

.pair-images img {
  max-width: 45%;
  margin: 5px;
  border-radius: 10px;
}

.small-image {
  max-width: 180px;
}

.title {
  font-size: 40;
  color: rgb(152, 0, 0);
  font-family: Verdana;
}

.big-title {
  font-size: 60px;
  color: rgb(152, 0, 0);
}

.red-bg-title {
  display: inline-block;
  color: white;
  background-color: maroon;
  padding: 20px;
  padding-right: 40px;
  border-radius: 10px;
  margin-bottom: -10px;
}

.sub_title {
  font-size: 30;
  color: rgb(152, 0, 0);
  font-family: Verdana;
}

.div-title {
  width: 100%;
  text-align: center;
  background-color: rgb(152, 0, 0);
  color: white;
  padding: 10px 0px;
}

.centered-heading {
  display: block;
  text-align: center;
  margin: 10px auto;
}

.paragraph {
  font-size: 18;
  font-family: Verdana;
}

.grid-container-images {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      1fr
    );
  text-align: center;
  justify-content: space-evenly;
  grid-column-gap: 10px;
  font-family: Verdana;
  margin-bottom: 120px;
  margin-left: 50px;
}

.faq {
  text-align: center;
  padding-bottom: 50px;
}

button.collapsible {
  background-color: white;
  border-color: rgb(228, 228, 228);
  color: rgb(0, 0, 0);
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 15px;
  margin-top: 15px;
  border-radius: 4px;
}

button.active,
button.collapsible:hover {
  background-color: rgb(228, 228, 228);
  border-style: outset;
}

div.answer {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: rgb(228, 228, 228);
}

button.link {
  background: none;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 95%;
  background-color: maroon;
  color: white;
  font-size: 22;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  height: 150px;
}

.footer-logo {
  width: 1em;
  margin-right: 10px;
  background: transparent;
}

.footer_title {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.25em;
}

.footer-text {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: aqua;
}

/*Styling for the Cards on the Team Page */
.card {
  width: 250px;
  height: 382px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: rgb(152, 0, 0);
}

.card_button {
  display: none;
  opacity: 0;
  color: white;
  border: none;
  background-color: #000;
  text-align: center;
  width: 100%;
  outline: 0;
  display: inline-block;
  padding: 8px;
}

.card_button:hover {
  background-color: rgb(152, 0, 0);
}

.centered {
  text-align: center;
}

.sponsor-page-button {
  padding: 10px 20px;
  max-width: 200px;
  max-height: 100px;
  border-radius: 10px;
  border: 3px solid maroon;
  margin: 10px 5px;
  background-color: whitesmoke;
  color: black;
  transition: 0.3s;
  font-size: 1.0em;
}

.sponsor-page-button img {
  height: 50px;
}

.sponsor-page-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-color: grey;
}

.header-image-combo {
  height: 300px;
  overflow: hidden;
  margin-top: 10px;
  padding-top: 20px;
}

#get-involved {
  text-align: center;
  margin-top: 20px;
}

#get-involved div {
  display: inline-block;
  margin: 20px auto;
  padding: 20px;
}

#index_text {
  font-size: 18px;
}

video {
  display: block;
  border-left-width: 50%;
}

.closed-info {
  padding: 30px;
  font-size: 1.5em;
  border: 2px solid grey;
  border-radius: 10px;
  margin-bottom: 50px;
}

.index-statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.index-statistics div {
  text-align: center;
  padding: 40px;
  margin: 20px;
}

.index-statistics img {
  margin: 10px auto;
  display: block;
  width: 30%;
}

.header-image-combo img {
  position: relative;
  background-color: transparent;
  max-width: 1200px;
}

.rounded-red-bg-title {
  background-color: maroon;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}

.sponsor-page-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 0px;
}

.sponsor-page-card {
  background-color: white;
  flex-grow: 1fr;
  width: 550px;
  margin: 5px;
  padding: 10px;
  border: 2px solid grey;
  border-bottom: 10px solid maroon;
  border-right: 10px solid maroon;
  border-radius: 10px;
}

.sponsors-list {
  display: flex;
  flex-wrap: wrap;
}

.sponsors-list * {
  max-width: 20%;
  padding: 20px;
}
li.answer {
  font-size: 15px;
  color: grey;
}

li {
  list-style: none;
  margin-right: 40px;
}
