.top_menu {
	overflow: hidden;
}
.top_menu a {
	float: left;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 14px 16px;
	color: rgb(128, 128, 128);
}
.top_menu a.active {
	color: rgb(128, 128, 128);
	text-decoration: underline;
}
.top_menu-right {
	float: right;
}
.top_menu a:link {
	color: rgb(128, 128, 128);
	text-decoration: none;
}
.top_menu a:hover {
	color: black;
}
.top_menu b {
	float: left;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 14px 16px;
	color: black;
	text-decoration: underline;
}
